.admin-users {
    padding: 20px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  .admin-users button {
    background-color: #004d40;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .admin-users button:hover {
    background-color: #007e2b;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #004d40;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007e2b;
    color: white;
  }

  .submit:hover {
    background-color: #2cb575d7;
  }
  
  .input {
    margin-bottom: 1.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .h2 {
    margin-top: 1.5em;
  }